
{sub_dirs, [
            "rel"
           ]}.

{erl_opts, [debug_info, fail_on_warning]}.

%% Options for eunit:test()
%{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
%{eunit_opts, [verbose]}.
{eunit_opts, []}.


%% Dependencies
{deps, []}.

%% edoc options
{edoc_opts, 
  [%{overview, "src/overview.edoc"},
   {title, "The ict application"},
   {includes, ["include"]},
   %{def, {vsn, "0.95"}},
   %{stylesheet_file, "src/edoc.css"},
   {app_default, "http://www.erlang.org/doc/man"}]}.

