
{sub_dirs, [
            "rel"
           ]}.

{erl_opts, [debug_info, fail_on_warning]}.

%% Options for eunit:test()
%{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
%{eunit_opts, [verbose]}.
{eunit_opts, []}.


%% Dependencies
{deps, []}.

{clean_files, [".eunit/*",".*~","*~","*/*~","ebin/*.beam","ebin/*.app"]}.



